<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加班级页面</title>
</head>
<body>
<h4>添加班级</h4>
<form action="/classes/addcls" method="post">
<table>
    <tr>
        <td>班级名字</td>
        <td><input type="text" name="cname"></td>
        <td></td>
    </tr>
    <tr>
        <td>班级人数</td>
        <td><input type="number" name="cnum"></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><input type="submit" value="添加班级"></td>
    </tr>
</table>
</form>
</body>
</html>