<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级管理系统</title>
</head>
<body>
<h4><a href="/classes/addskip">添加班级</a></h4>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>班级名</th>
        <th>班级人数</th>
        <th>操作</th>
    </tr>
    <tr th:each=" cls : ${clslist}">
        <td th:text="${cls.cid}"></td>
        <td th:text="${cls.cname}"></td>
        <td th:text="${cls.cnum}"></td>
        <td><a th:href="|/classes/updskip?cid=${cls.cid}|">修改</a>
            <a th:href="|/classes/delcla?cid=${cls.cid}|">删除</a></td>
    </tr>
</table>
</body>
</html>